CONTAINER_REGISTRY_ADDRESS=<Your docker container registry adress>
CONTAINER_REGISTRY_PASSWORD=<Your docker container registry password>
CONTAINER_REGISTRY_USERNAME=<Your docker container registry username>
OPCPUBLISHER_VERSION=2.7